
.profile-card-container {
    background: linear-gradient(to bottom, #4e1018 0%, #0b0b0b 100%);
    color: #ffffff;
    border-bottom: 1px solid rgba(255, 77, 77, 0.2);
    box-shadow: 0 8px 32px rgba(165, 8, 8, 0.37);
    border: 1px solid #f5f5f541;
    position: relative;
    overflow: hidden;
    padding: 50px 100px; 
    max-width: 100%;
    width: 90%; 
    margin: auto; 
    margin-top: 0; 
    margin-bottom: 0; 
}

.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.hello {
  font-size: 5em; 
  font-weight: 700;
  margin: 20px 0 30px 0;
  color: #ff4d4d;
  font-family: 'Times New Roman', Times, serif;
  text-shadow: 0 2px 8px #3335;
}

.user-stats {
  display: flex;
  gap: 40px;
  justify-content: space-around;
  width: 50%;
  max-width: 500px;
  margin-bottom: 30px;
}

.stat-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.stat-number {
  font-size: 1.5em;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.7); 
  margin-bottom: 5px; 
}

.stat-label {
  font-size: 0.8em; 
  font-weight: 400;
  color: rgba(241, 236, 236, 0.7); 
  text-transform: uppercase;
  letter-spacing: 1px;
}

.profile-avatar-wrapper {
    position: absolute;
    right: 100px;
    top: 50%; 
    transform: translateY(-50%); 
}

.profile-avatar-container {
    border-radius: 100%;
    border: 4px solid rgb(255, 255, 255);
    object-fit: cover;
    width: 200px; 
    height: 200px;
    overflow: hidden; 
}

.profile-avatar-container img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  object-fit: cover;
}


