.profile-background {
    margin: 0;
    padding: 0;
    background-color: #0b0b0b;
    min-height: 100vh;
    position: relative;
    z-index: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}
.profile-background::before {
    content: "MeloFi";
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25vw;
    font-weight: 800; 
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    color: rgba(255, 77, 77, 0.03); 
    pointer-events: none;
    user-select: none;
    z-index: -1;
    white-space: nowrap;
}

.your-library,
.your-artists {
    color: #ff4d4d;
    font-size: 2rem;
    margin-top: 60px;
    text-shadow: 0 2px 12px #ff4d4d88;
    font-weight: bold;
    display: flex;
    align-items: left;
    margin-left: 35px;
}

.playlist-container-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-left: 35px;
    margin-bottom: 40px
}
.playlist-container {
    border-bottom: 1px solid rgba(255, 77, 77, 0.2);
}
.artists-section {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-left: 35px;
}

.playlist-card,
.artist-card {
    border: 1px solid rgba(255, 77, 77, 0.2);
}

.playlist-card:hover,
.artist-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 22px rgba(255, 255, 255, 0.35);
}
