.miniplayer-side-panel {
    width: 400px;
    height: 100vh;
    background: linear-gradient(180deg, #3d0a0f 0%, #000000 100%);
    border-left: 1px solid rgba(255, 77, 77, 0.3);
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1500;
    transform: translateX(100%); 
}
.now-playing-label{
    color: white;
    font-size: 1.2rem;
    padding: 100px;
}

.miniplayer-side-panel.active {
    transform: translateX(0); 
}

.miniplayer-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
}

.inner-box-miniplayer {
    background: rgba(255, 255, 255, 0.05); 
    border-radius: 25px;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.1);
    
}

.album-large {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 15px;
    object-fit: cover;
    background-color: #746767; 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    display: block;
}

.mini-meta {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.song-text {
    flex: 1;
}

.song-title {
    font-size: 1.6rem;
    color: white;
    margin: 0;
    font-weight: bold;
}

.artist-primary, .artist-support {
    color: #ffffff;
    font-size: 1.1rem;
    margin: 4px 0;
}

.artist-thumb {
    width: 85px;
    height: 85px;
    border-radius: 12px;
    object-fit: cover;
    background-color: #5e5353; 
    border: 1px solid rgba(255, 255, 255, 0.15);
    flex-shrink: 0;
    margin-left: 15px;
}

.mini-controls {
    margin-top: auto;
    width: 100%;
    position: relative;
    padding-bottom: 20px;
}

.add-btn {
    position: absolute;
    right: 0;
    top: -40px; 
    background: none;
    border: none;
    color: white;
    font-size: 2.2rem;
    cursor: pointer;
}