.login-background {
    margin: 0;
    padding: 0;
    background-color: #0b0b0b;
    min-height: 100vh;
    position: relative;
    z-index: 0;
    overflow-x: hidden;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.login-background::before {
    content: "MeloFi";
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25vw;
    font-weight: 800; 
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    color: rgba(255, 77, 77, 0.03); 
    pointer-events: none;
    user-select: none;
    z-index: -1;
    white-space: nowrap;
}

.login-logo {
    font-size: 4rem;
    color: #ff4d4d;
    margin-bottom: 100px;
    font-weight: bold;
}

.login-glass-card {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 25px;
    border: 1px solid rgba(255, 77, 77, 0.2);
    box-shadow: 0 8px 32px rgba(58, 5, 5, 0.26);
    padding: 2rem 3rem;
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-heading {
    font-size: 2.2rem;
    color: #ff4d4d;
    margin-bottom: 1.5rem;

}

.login-input {
    width: 100%;
    padding: 0.75rem;
    margin-top: 1rem;
    border-radius: 15px;
    border: none;
    background: rgba(255, 255, 255, 0.05);
    color: #fff;
    font-size: 1.3rem;
    box-shadow: inset 0 2px 5px rgba(255, 77, 77, 0.3);
}

.login-input::placeholder {
    color: #ff9999;
}

.login-forgot {
    display: flex;
    justify-content: flex-end; 
    margin-top: 5px;
}

.login-forgot a {
    color: #ff4d4d;
    text-decoration: none;
}

.login-forgot a:hover {
    text-decoration: none;
    color: #ff1c1c;
}

.login-button,
.login-create-Account {
    color: #ffffff;
    text-decoration: none; 
    display: flex;         
    align-items: center;
    justify-content: center;
    min-height: 40px;
    min-width: 140px;
    margin-top: 1.5rem;
    border-radius: 15px;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    background: linear-gradient(90deg, #ff4d4d 0%, #960000 100%);
}
.login-button:hover,
.login-create-Account:hover {
background: linear-gradient(90deg, #ff1c1c 0%, #7a0000 100%);
}

.login-new-to-melofi {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.login-newuser {
    color: #ffb3b3;
    margin-bottom: 10px;
}
