.artist-card{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: #1e1e1e;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    margin: 10px;
}

.artist-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.artist-name {
    font-size: 1.2em;
    font-weight: 600;
    color: #fff;
    text-align: center;
}

.artist-card:hover {
    cursor: pointer;
}